body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-form {
  height: 75px;
  width: 800px;
  max-width: 95vw;
  margin: 50px auto 0px;
  text-align: center;
  line-height: 75px;
  font-size: 1.75rem;
  border-radius: 5px;
  box-shadow: 0px 0px 60px #d5d5d5;
  overflow: hidden;
  display: flex;
}
.input-field-wrapper {
  width: 50%;
  text-align: right;
}
.input-field {
  display: inline;
  text-align: right;
  float: right;
  min-width: 1px;
  color: green;
  white-space: nowrap;
}
.words-list {
  width: 50%;
  text-align: left;
  color: aliceblue;
}
.input-field:focus {
  outline: none;
}
.bg-danger {
  box-shadow: 0px 0px 60px #ff0000;
}

.word {
  padding-right: 10px;
}
.wrong {
  text-decoration: line-through crimson;
  color: crimson;
}
.completed {
  color: grey;
  text-align: right;
  white-space: nowrap;
}
.completed-wrong {
  text-decoration: line-through grey;
  color: grey;
  text-align: right;
  white-space: nowrap;
}

::selection {
  color: orange;
}

.stat-board {
  display: flex;
  justify-content: space-evenly;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 0px 0px 60px #d5d5d5;
}

h2 h4 p {
  margin: 0 auto;
}

p {
  text-align: center;
}

/* login form */
.username {
  padding: 10px;
}
.password {
  padding: 10px;
}
.outer-Login {
  top: 20px;
  left: 0;
}

/* CSS */
.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
.mainDiv {
  background-color: lightgray;
  min-height:100vh;
}
